@CHARSET "UTF-8";

/**
 * Entwickelt von Maurice Busch <busch.maurice@gmx.net>
 * copyright 2014
 * version 0.1
 */

.grid-view table.items tr.even {
	background-color: #EEEEEE;
}

.grid-view table.items tr.odd {
	background-color: #FFFFFF;
}

.grid-view table.items tr.selected {
	background-color: #DDDDDD;
}