<phpunit bootstrap="bootstrap.php"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<browser name="Firefox" browser="*firefox" />
	</selenium>
	
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
		    <directory suffix=".php">.</directory>
		    <directory suffix=".php">../components</directory>
		    <directory suffix=".php">../controllers</directory>
		    <directory suffix=".php">../models</directory>
			<exclude>
				<file>./WebTestCase.php</file>
				<directory suffix=".php">functional</directory>
			</exclude>
		</whitelist>
	</filter>
	
</phpunit>
