<phpunit bootstrap="bootstrap.php"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">
	
	<php>
		<const name="TEST_BASE_URL" value="http://localhost/cms/index-test.php/"/>
		<const name="TEST_CONFIG" value="test.php"/>
	</php>
	
	<selenium>
		<browser name="Firefox 4 Linux" browser="*firefox"  port="4444"/>
	</selenium>
	
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
		    <directory suffix=".php">../components</directory>
		    <directory suffix=".php">../controllers</directory>
		    <directory suffix=".php">../models</directory>
			<exclude>
				<file>./WebTestCase.php</file>
				<directory suffix=".php">functional</directory>
			</exclude>
		</whitelist>
	</filter>
	
</phpunit>
